RewriteEngine On
RewriteBase /
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php [QSA,L]

<FilesMatch "\.(env|log|ini|sh|inc|bak|sql|swp|dist|md|gitignore)$">
    Order allow,deny
    Deny from all
</FilesMatch>